.menu{
    margin: 0px auto;
    width: 700px;
    background-color: #2696e8;
    border: 1px solid blue;
}


ul{
    display: flex;
    /*выстраивает потомков в ряд в обратном порядке*/
    flex-direction: row-reverse;
    /*распределяет равномерно*/
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

li{
    color: #fff;
    list-style-type: none;
    padding: 10px;
}

li:hover{
    background-color: #fff;
    color: #2696e8;
}
